<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>

<h1>main.html</h1>
<span>[[${session.loginUser.userName}]]</span><br/>

<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
	<input type="text" name="username" placeholder="请输入用户名"/><br/>
	<input type="text" name="email" placeholder="请输入邮箱/"><br/>
	<input type="file" name="singleUpFile" placeholder="请选择单文件进行上传"><br/>
	<input type="file" name="multiUpFile" placeholder="请选择多文件进行上传" multiple><br/>
	<input type="submit" value="上传"/>
</form>

</body>
</html>