<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<div>
	<div id="div1" style="margin: 0;padding: 0">
		<h1>main.html</h1>
	</div>
	<div id="div2" style="margin: 0;padding: 0">
		<span>[[${session.loginUser.userName}]]</span>
	</div>
</div>
<div id="div3">
	<br/>
	<a th:href="@{/table}">table</a><br/>
	<br/>
	<a th:href="@{/form}">form</a>
	<br/>
	<a th:href="@{/ex}">ex</a>
</div>
<div id="div4">
	<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
		<input type="text" name="username" placeholder="请输入用户名"/><br/>
		<input type="text" name="email" placeholder="请输入邮箱/"><br/>
		<input type="file" name="singleUpFile" placeholder="请选择单文件进行上传"><br/>
		<input type="file" name="multiUpFile" placeholder="请选择多文件进行上传" multiple><br/>
		<input type="submit" value="上传"/>
	</form>
</div>
</div>

</body>
</html>