body{
    overflow-x: hidden;
}
body, div, form, ul, ol, dl, li, table, th, td, tr, p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
#app{
    border: 1px solid red;
    width: 16vw;
    height: 10vw;
    margin: 0 auto;
    text-align: center;
}